# Виртуальное окружение
venv/
env/
.venv/

# Файлы окружения (секретные данные)
.env

# Кэш Python
__pycache__/
*.pyc
*.pyo

# Файлы IDE
.vscode/
.idea/

# Файлы ОС
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.tmp

# База данных (если будет локальный файл)
*.db
*.sqlite